.listings{
    width: 100vw;
    height: calc(100vh - 64px);
    overflow-y: scroll;
    display: flex;
    align-items: flex-start;
    font-family: 'Oxygen', sans-serif;
}

.listings .filters{
    flex: 0 0 25vw;
    max-width: 300px;
    margin: 40px 2.5vw 200px 2.5vw;
    min-height: 80px;
    background-color: #f8f8f8;
    box-shadow: rgba(0, 0, 0, 0.2) 0 5px 10px;
    border-radius: 2px;
}

.listings .main{
    flex: 1;
    min-height: 90vh;
    margin: 40px 64px 200px 0;
    display: flex;
    flex-direction: column;
}

.listings .main .refinements{
    flex: 0 0 48px;
    background-color: #f8f8f8;
    margin-bottom: 16px;
    box-shadow: rgba(0, 0, 0, 0.2) 0 5px 10px;
    display: flex;
    border-radius: 2px;
}

.listings .main .refinements .activeFilters{
    flex: 1;
    margin: 8px;
}

.listings .main .refinements .sort{
    flex: 0 0 180px;
    margin: 8px;
    display: flex;
    flex-direction: row-reverse;
}

.listings .main .results{
    min-height: 200px;
}

.listings .main .numResults{
    margin-top: 30px;
    text-align: center;
}

.listings .pinned{
    position: fixed;
    background-color: #f8f8f8;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 170px;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -5px 10px;
}

/*
    FILTERS
*/

.filter {
    min-height: 48px;
    width: 100%;
    border-bottom: #c8c8c8 solid 2px;
}

.filter .filterHeader{
    display: flex;
    height: 48px;
    padding: 8px;
    box-sizing: border-box;
    cursor: pointer;
}

.filter .filterHeader .filterTitle{
    flex: 1;
    line-height: 32px;
    font-size: 24px;
}

.filter .filterHeader .filterToggle{
    flex: 0 0 24px;
    border: #333333 solid 2px;
    border-radius: 12px;
    text-align: center;
    margin: 4px
}

.filter .filterHeader .filterToggle .glyphicon{
    line-height: 24px;
    font-size: 16px;
    right: -1px;
}

.filter .filterOptions{
    background-color: #c8c8c8;
    overflow: hidden;
}

.filter .filterOptions .filterOption{
    display: flex;
    height: 48px;
    padding: 8px;
    box-sizing: border-box;
    cursor: pointer;
    border-top: solid 1px #e8e8e8;
}

.filter .filterOptions .filterOption .optionTitle{
    flex: 1;
    line-height: 32px;
    font-size: 20px;
    margin-left: 20px;
}

.filter .filterOptions .filterOption .optionToggle{
    flex: 0 0 20px;
    height: 20px;
    border: #333333 solid 3px;
    border-radius: 12px;
    margin: 6px
}

.filter .colorOptions{
    background-color: #c8c8c8;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    padding: 8px 20px;
    box-sizing: border-box;
}

.filter .colorOptions .colorOption{
    flex: 0 0 30px;
    height: 30px;
    border: solid 3px;
    border-radius: 20px;
    margin: 4px;
    cursor: pointer;
}

/**
Refinement Bar
 */

.activeFilter{
    float: left;
    height: 32px;
    min-width: 60px;
    background-color: #3c3f41;
    box-shadow: rgba(0, 0, 0, 0.2) 0 5px 10px;
    margin-right: 10px;
    position: relative;
    padding: 0 32px 0 8px;
    border-radius: 2px;
    color: #f8f8f8;
}

.activeFilter .filterName{
    border-bottom: dashed 2px #5F9EA0;
    height: 32px;
    line-height: 32px;
    font-size: 16px;
    font-weight: bold;
}

.activeFilter .remove{
    position: absolute;
    right: 4px;
    top: 0;
    height: 32px;
    width: 24px;
    text-align: center;
    color: #f8f8f8;
    cursor: pointer;
}

.activeFilter .remove .glyphicon{
    line-height: 32px;
}

/**
PRODUCT
 */

.productTile{
    width: 240px;
    height: 240px;
    box-sizing: border-box;
    margin: 10px;
    padding: 10px;
    float: left;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.2) 0 5px 10px;
    position: relative;
    border-radius: 2px;
}

.productTileSM{
    width: 150px;
    height: 150px;
    box-sizing: border-box;
    margin: 10px;
    padding: 5px 5px 3px 5px;
    float: left;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.2) 0 5px 10px;
    border-radius: 2px;
}

.productTileSM > div,
.productTile > div{
    display: flex;
}

.productTile div .colorOptions{
    flex: 0 0 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.productTile div .colorOption{
    width: 30px;
    flex: 0 0 30px;
    border: solid 3px #aaaaaa;
    border-radius: 20px;
    margin: 4px;
}

.productTile div .productImage{
    flex: 1;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 10px;
}

.productTileSM div .productImage{
    flex: 1;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.productTile div .logo{
    flex: 1;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.productTileSM div .logo{
    flex: 1;
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
}

.productTile div .title{
    flex: 2;
    text-align: right;
    line-height: 50px;
    font-size: 28px;
    font-weight: bold;
}

.productTileSM div .title{
    flex: 2;
    font-size: 18px;
    line-height: 25px;
    font-weight: bold;
}

.productTile .pinButton{
    width: 20px;
    height: 20px;
    text-align: right;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    color: #FF8582;
}

.productTile .pinButton .glyphicon{
    line-height: 20px;
    font-size: 16px;
    top: 0;
}

.productTileSM div .pinButton{
    flex: 0 0 20px;
    text-align: right;
    cursor: pointer;
    position: relative;
    color: #FF8582;
}

.productTileSM div .pinButton .glyphicon{
    line-height: 16px;
    font-size: 16px;
}

.productTile div .info{
    flex: 1;
    display: flex;
    flex-direction: column;
}

.productTile div .info .stars{
    flex: 0 0 20px;
}

.productTile div .info .year{
    flex: 1;
    font-weight: bold;
    line-height: 15px;
    font-size: 12px;
}

.productTile div .info .types{
    flex: 1;
    font-style: italic;
    line-height: 15px;
    font-size: 10px;
}

.productTileSM div .stars{
    flex: 0 0 60px;
}

.productTileSM div .year{
    flex: 1;
    font-weight: bold;
    line-height: 16px;
    font-size: 10px;
    color: #666666;
    margin: 2px 5px;
}

.productTileSM div .types{
    flex: 1;
    font-style: italic;
    line-height: 10px;
    font-size: 8px;
}

.productTile div .price{
    flex: 1;
    text-align: right;
    line-height: 50px;
    font-size: 28px;
    color: #666666;
}

.productTileSM div .price{
    flex: 2;
    text-align: right;
    line-height: 18px;
    font-size: 16px;
    height: 18px;
    margin-top: 12px;
    color: #666666;
}

/**
Pinned
 */

.pinned .toggle{
    height: 30px;
    width: 120px;
    position: absolute;
    left: 50%;
    margin-left: -60px;
    top: -30px;
    background-color: #f8f8f8;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -5px 5px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    text-align: center;
    color: #444444;
    padding: 4px 15px 6px 15px;
    line-height: 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.pinned .toggle .glyphicon{
    top: 4px;
}